<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test_GivenRequirement_First_Way">
    <classes>
      <class name="com.execise.test.testTiresPOMPage_TC1_First_Way"/>
    </classes>
  </test> <!-- Test -->

  <test thread-count="5" name="Test_GivenRequirement_Second_Way">
    <classes>
      <class name="com.execise.test.testTiresPOMPage_TC1_Second_Way"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
